{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Link of CSS files -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/swiper-min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fancybox.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/jquery-ui-min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <title>Muva - Cannabis & Marijuana HTML Template</title>
        <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
    </head>
</head>
<body>
      <!--Preloader starts-->
      <div class="preloader js-preloader">
        <img src="{% static 'assets/img/preloader.gif' %}" alt="Image">
    </div>
    <!--Preloader ends-->

    <div class="body_overlay"></div>
    <div class="page-wrapper">

        <!-- Header Section Start -->
        {% include "_partials/header.html"%}
        <!-- Header Section End -->


    {% block content %}

    


    {% endblock content %}

     <!-- Footer Section Start -->
     {% include "_partials/footer.html"%}
     <!-- Footer Section End -->
    </div>

     <!-- Back-to-top button Start -->
     <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
     <!-- Back-to-top button End -->

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
        <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
        <script src="{% static 'assets/js/aos.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/swiper-min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-ui-min.js' %}"></script>
        <script src="{% static 'assets/js/odometer.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'assets/js/fancybox.js' %}"></script>
        <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'assets/js/tweenmax.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>