{%load static%}

<header class="header-wrap style1">
    <div class="container">
        <div class="header-box">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href={% url 'home' %}>
                    <img class="logo-light" src="{% static 'assets/img/logo-white.png' %}" alt="logo">
                    
                </a>
                <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
                    <div class="menu-close d-lg-none">
                        <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href={% url 'home' %} class="nav-link active">
                                Home
                            </a>
                           
                        </li>
                        <li class="nav-item">
                            <a href={% url 'about' %} class="nav-link">
                                About Us
                            </a>
                        </li>
                      
                        <li class="nav-item">
                            <a href={% url 'shop' %} class="nav-link">
                                Shop
                            </a>
                          
                        </li>
                       
                     
                        <li class="nav-item">
                            <a href={% url 'contact' %} class="nav-link">Contact</a>
                        </li>
                        
                        <li class="nav-item d-lg-none">
                            <a href={% url 'login' %} class="btn style1 w-block w-100">Login Now</a>
                        </li>
                    </ul>
                    <div class="other-options md-none">
                        <div class="option-item">
                            <button class="searchbtn"><i class="ri-search-line"></i></button>
                        </div>
                        <div class="option-item">
                            {% if request.user %}
                            
                         
                            <a class="shopcart-btn" href={% url 'cart' %}><i class="flaticon-bag"></i> <span>{{request.user.cart_set.count}}</span></a>
                            {% else %}
                            <a class="shopcart-btn" href={% url 'cart' %}><i class="flaticon-bag"></i> <span>0</span></a>

                            {% endif %}
                        </div>
                        <div class="option-item">
                            <a href={% url 'login' %} class="btn style1">Login Now</a>
                        </div>
                        <form action={% url 'search' %}  method="post">
                            {%csrf_token%}
                            <div class="search-area">
                                <input type="search" required name="search_term" placeholder="Search Here..">
                                <button type="submit"><i class="ri-search-line"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="mobile-bar-wrap d-lg-none">
                <button class="searchbtn"><i class="ri-search-line"></i></button>
                {% if request.user %}
                            
                         
                <a class="shopcart-btn" href={% url 'cart' %}><i class="flaticon-bag"></i> <span>{{request.user.cart_set.count}}</span></a>
                {% else %}
                <a class="shopcart-btn" href={% url 'cart' %}><i class="flaticon-bag"></i> <span>0</span></a>

                {% endif %}
                <div class="mobile-menu d-lg-none">
                    <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
                </div>
                <form action={% url 'search' %}  method="post">
                    {%csrf_token%}
                    <div class="search-area">
                        <input type="search" required name="search_term" placeholder="Search Here..">
                        <button type="submit"><i class="ri-search-line"></i></button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</header>  