{% extends '_partials/base.html'%}
{% load static %}

{% block content %}

  <!--Preloader starts-->
      <div class="preloader js-preloader">
        <img src="{% static 'assets/img/preloader.gif' %}" alt="Image">
    </div>
    <!--Preloader ends-->


           <!-- Hero Section Start -->
           <section class="hero-wrap style3">
            <img src="{% static 'assets/img/hero/hero-shape-9.png' %}" alt="Image" class="hero-shape-one moveHorizontal">
            <img src="{% static 'assets/img/hero/hero-shape-10.png' %}" alt="Image" class="hero-shape-two moveVertical">
            <img src="{% static 'assets/img/hero/hero-shape-11.png' %}" alt="Image" class="hero-shape-three">
            <div class="container">
               <div class="row">
                   <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="hero-content">
                        <h1 data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">Muva Medical Marijuanna Product Store</h1>
                        <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">We offer premium weed delivery with affordable prices and daily deals.We strive to give you the best strains with the most helpful strain reviews.</p>
                        <a href={% url 'shop' %} class="btn style1" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">Shop Now</a>
                    </div>
                   </div>
               </div>
            </div>
        </section>
        <!-- Hero Section End -->

        <!-- Product Slider Start -->
        <div class="product-slider-wrap">
            <div class="container">
                <div class="product-slider-one owl-carousel">
                    <div class="product-card style4">
                        <div class="product-img">
                            <img src="{% static 'assets/img/product/product-13.jpg' %}" alt="Image">
                            <button type="button" class="btn style2 add-cart">Add To Cart</button>
                        </div>
                        <div class="product-info-wrap">
                           <div class="product-info">
                                <h3><a href={% url 'shop' %}>CBD Cookies</a></h3>
                                <p class="price">$138.00</p>
                           </div>
                           <a href={% url 'shop' %} class="btn style1">Shop Now</a>
                        </div>
                    </div>
                    <div class="product-card style4">
                        <div class="product-img">
                            <img src="{% static 'assets/img/product/product-15.jpg' %}" alt="Image">
                            <button type="button" class="btn style2 add-cart">Add To Cart</button>
                        </div>
                        <div class="product-info-wrap">
                           <div class="product-info">
                                <h3><a href={% url 'shop' %}>Cannabis Oil</a></h3>
                                <p class="price">$89.00 <span class="discount">$120.00</span></p>
                           </div>
                           <a href={% url 'shop' %} class="btn style1">Shop Now</a>
                        </div>
                    </div>
                    <div class="product-card style4">
                        <div class="product-img">
                            <img src="{% static 'assets/img/product/product-16.jpg' %}" alt="Image">
                            <button type="button" class="btn style2 add-cart">Add To Cart</button>
                        </div>
                        <div class="product-info-wrap">
                           <div class="product-info">
                                <h3><a href={% url 'shop' %}>Cannabis Gummy</a></h3>
                                <p class="price">$89.00 </p>
                           </div>
                           <a href={% url 'shop' %} class="btn style1">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Slider End -->

           
            
            <!-- About Section Start -->
            <section class="about-wrap style1 bg-albastor ptb-100">
                <img src="{% static 'assets/img/about/about-shape-1.png' %}" alt="Image" class="about-shape-one moveVertical sm-none">
                <img src="{% static 'assets/img/about/about-shape-2.png' %}" alt="Image" class="about-shape-two waving_left sm-none">
                <div class="container">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                            <div class="about-img-wrap">
                                <img src="{% static 'assets/img/about/about-img-1.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="200">
                            <div class="about-content">
                                <div class="content-title style1">
                                    <span><img src="{% static 'assets/img/section-img.png' %}" alt="Image">About Our Dispensary</span>
                                    <h2>We Provide High Quality And Certified Products</h2>
                                    <h6>Muva scours the state of California for the best growers and cultivators of cannabis.</h6>
                                    <p>Muva scours the state of California for the best growers and cultivators of cannabis this generation has to offer. As a result, we have curated a line of products that are reliable, potent, and guaranteed to satisfy even the biggest smoker.</p>
                                </div>
                                <a href={% url 'about' %} class="btn style1">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Sectin End -->
            
            <!-- Product Section Start -->
            
            <!-- Product Section End -->

            <!-- Product Offser Section Start -->
            <section class="offer-wrap ptb-100">
                <img src="{% static 'assets/img/shape-8.png' %}" alt="Image" class="offer-shape-one moveVertical sm-none">
                <img src="{% static 'assets/img/shape-9.png' %}" alt="Image" class="offer-shape-two animationFramesTwo">
                <div class="container">
                    <img src="{% static 'assets/img/shape-10.png' %}" alt="Image" class="offer-shape-three sm-none">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-1 order-md-2 order-2" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                            <div class="offer-content">
                                <div class="content-title style1">
                                    <span><img src="{% static 'assets/img/section-img.png' %}" alt="Image">Best Offer</span>
                                    <h2>Muva Marijuanna Best Offer For Our Customers</h2>
                                    <p>We offer premium weed delivery with affordable prices and daily deals. </p>
                                </div>
                                <div class="countdown-deals text-center" data-countdown="2023/12/11"></div>
                                <a href={% url 'shop' %} class="btn style1">Shop Now</a>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-2 order-md-1 order-1" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="200">
                            <div class="offer-pproduct-slider owl-carousel">
                                <div class="product-slide-item">
                                    <div class="discout">
                                        <span>15%</span> Off
                                    </div>
                                    <span class="product-offer-price">$130</span>
                                    <img src="{% static 'assets/img/product/offer-slider-1.jpg' %}" alt="Image">
                                </div>
                                <div class="product-slide-item">
                                    <div class="discout">
                                        <span>10%</span> Off
                                    </div>
                                    <span class="product-offer-price">$110</span>
                                    <img src="{% static 'assets/img/product/offer-slider-2.jpg' %}" alt="Image">
                                </div>
                                <div class="product-slide-item">
                                    <div class="discout">
                                        <span>25%</span> Off
                                    </div>
                                    <span class="product-offer-price">$89</span>
                                    <img src="{% static 'assets/img/product/offer-slider-3.jpg' %}" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Product Offser Section End -->

            <!-- Service Section Start -->
            <section class="service-wrap style1 pt-100 pb-75 bg-albastor">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                            <div class="section-title style1 text-center mb-40">
                                <span><img src="{% static 'assets/img/section-img.png' %}" alt="Image">Our Services</span>
                                <h2>Our Best Marijuanna Services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="service-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                                <div class="service-icon">
                                   <i class="flaticon-meditation"></i>
                                </div>
                                <div class="service-info">
                                    <h3><a href="#">Promote Relaxation</a></h3>
                                    <p>A new study found cannabis is more likely to make you feel relaxed than paranoid.</p>
                                </div>
                            </div>
                            <div class="service-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">
                                <div class="service-icon">
                                   <i class="flaticon-massage"></i>
                                </div>
                                <div class="service-info">
                                    <h3><a href="#">Remove Headache</a></h3>
                                    <p>Marijuana might be one under-the-counter remedy for migraine relief.</p>
                                </div>
                            </div>
                            <div class="service-card style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="400">
                                <div class="service-icon">
                                   <i class="flaticon-herbal"></i>
                                </div>
                                <div class="service-info">
                                    <h3><a href="#">Increase Appetite</a></h3>
                                    <p>The ability of Cannabis sativa to promote eating has been documented for many centuries,.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-img-wrap" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                                <img src="{% static 'assets/img/service/service-img-1.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-card style1" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="200">
                                <div class="service-icon">
                                    <i class="flaticon-back-1"></i>
                                </div>
                                <div class="service-info">
                                    <h3><a href="#">Relieves Pain</a></h3>
                                    <p>The ability of Cannabis sativa to relieve pain has been documented for many centuries, </p>
                                </div>
                            </div>
                            <div class="service-card style1" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="300">
                                <div class="service-icon">
                                   <i class="flaticon-time-to-sleep"></i>
                                </div>
                                <div class="service-info">
                                    <h3><a href="#">Fights Insomnia</a></h3>
                                    <p>The ability of Cannabis sativa to fight insomnia has been documented for many centuries,.</p>
                                </div>
                            </div>
                            <div class="service-card style1" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="400">
                                <div class="service-icon">
                                   <i class="flaticon-cat"></i>
                                </div>
                                <div class="service-info">
                                    <h3><a href="#">Improves Mood</a></h3>
                                    <p>The ability of Cannabis sativa to improve mood has been documented for many centuries,</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Service Section End -->

            <!-- CTA  Section Start -->
            <div class="cta-wrap pt-100 pb-75">
                <div class="cta-shape">
                    <img src="{% static 'assets/img/counter-shape-1.png' %}" alt="Image">
                </div>
                <div class="container">
                    <div class="counter-card-wrap  pb-75">
                        <div class="counter-card">
                            <div class="counter-text">
                                <div class="counter-num">
                                    <span class="odometer" data-count="37"></span>
                                </div>
                                <p>Awarded Licenses In Fourteen States </p>
                            </div>
                        </div>
                        <div class="counter-card">
                            <div class="counter-text">
                                <div class="counter-num">
                                    <span class="odometer" data-count="768"></span>
                                </div>
                                <p>Cultivation Space Have been Built</p>
                            </div>
                        </div>
                        <div class="counter-card">
                            <div class="counter-text">
                                <div class="counter-num">
                                    <span class="odometer" data-count="68"></span>
                                </div>
                                <p>Tons On Sale Product Available</p>
                            </div>
                        </div>
                        <div class="counter-card">
                            <div class="counter-text">
                                <div class="counter-num">
                                    <span class="odometer" data-count="389"></span>
                                </div>
                                <p>Percent Growth In The Last Two Years</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 order-lg-1 order-md-2 order-2" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                            <div class="apply-form">
                                <div class="content-title style1">
                                    <h2>Contact Us Below</h2>
                                    <p>You may fill the form below to contact us, our representatives will reply to your query within an hour</p>
                                </div>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="text" required placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" required placeholder="Phone">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email"  required placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" required placeholder="Subject">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn style1 w-100 d-block">Submit Application</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-2 order-md-1 order-1" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                            <div class="video-wrap bg-f video-bg-1">
                                <a class="play-now" data-fancybox="" href="https://www.youtube.com/watch?v=UNSSuTSQI9I">
                                    <i class="ri-play-fill"></i>
                                    <span class="ripple"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-100 justify-content-center">
                        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
                            <div class="promo-card style1">
                                <div class="promo-title">
                                    <span class="promo-icon">
                                        <i class="flaticon-herbal-2"></i>
                                    </span>
                                    <h3>Best Herbs</h3>
                                </div>
                                <p>We provide the best adult-use cannabis brands in Los Angeles and SoCal! Our customers deserve the best and that’s why we do everything we can to provide the best cannabis and weed. </p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
                            <div class="promo-card style1">
                                <div class="promo-title">
                                    <span class="promo-icon">
                                        <i class="flaticon-medicine"></i>
                                    </span>
                                    <h3>Best Product</h3>
                                </div>
                                <p>We provide the best adult-use cannabis brands in Los Angeles and SoCal! Our customers deserve the best and that’s why we do everything we can to provide the best cannabis and weed. </p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
                            <div class="promo-card style1">
                                <div class="promo-title">
                                    <span class="promo-icon">
                                        <i class="flaticon-shipped"></i>
                                    </span>
                                    <h3>Home Delivery</h3>
                                </div>
                                <p>Pay online with a credit card, debit card, or bitcoins. We also accept cash or card payments upon delivery. </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- CTA Section End -->

            <!-- Feature Section Start -->
            <section class="feature-wrap style1 pb-100">
                <img src="{% static 'assets/img/about/feature-shape-1.png' %}" alt="Image" class="feature-shape-one">
                <img src="{% static 'assets/img/about/feature-shape-2.png' %}" alt="Image" class="feature-shape-two">
                <div class="container">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="feature-img-wrap">
                                <img src="{% static 'assets/img/about/feature-img-1.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-content">
                                <div class="content-title style1">
                                    <span><img src="{% static 'assets/img/section-img.png' %}" alt="Image">Recetional Medicine</span>
                                    <h2>Medical Marijuana Is Used To Many Health Problems</h2>
                                    <h6>CBD has been proven to help reduce inflammation and the neuropathic pain it can cause.</h6>
                                    <p>A study conducted by JCI Insight in 2017 found that CBD lowered the blood pressure of human participants. It reduced their resting blood pressure as well as their blood pressure after stress tests including mental arithmetic and the cold pressor test.</p>
                                </div>
                                <a href={% url 'about' %} class="btn style1 mt-30">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Feature Sectin End -->

            <!-- Newsletter Section Start -->
            <section class="newsletter-wrap ptb-100">
                <img src="{% static 'assets/img/newsletter-shape-1.png' %}" alt="Image" class="newsletter-shape-one">
                <img src="{% static 'assets/img/newsletter-shape-2.png' %}" alt="Image" class="newsletter-shape-two moveHorizontal">
                <img src="{% static 'assets/img/newsletter-shape-3.png' %}" alt="Image" class="newsletter-shape-three animationFramesTwo">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="content-title style2">
                                <span><img src="{% static 'assets/img/section-img.png' %}" alt="Image">Newsletter</span>
                                <h2>Subscribe To Newsletter</h2>
                                <p>We do not spam, just your daily dose of updates and info on CBD</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form action="" class="newsletter-form">
                                <input type="email" name="email" id="email" placeholder="Enter Your Email Address" required>
                                <button type="submit">Subscribe Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Newsletter Section End -->

             <!-- Testimonial Section Start -->
             <section class="benefit-wrap style2 ptb-100">
                <div class="container">
                    <div class="section-title style1 text-center mb-40">
                        <span><img src="{% static 'assets/img/section-img.png' %}" alt="Image">Benefit You'll Get</span>
                        <h2>Health Benefit Of CBD Oils</h2>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-3">
                            <div class="benefit-card style1">
                                <h3>Heart</h3>
                                 <p>CBD's anti-inflammatory and antioxidative properties may be able to reduce risk factors that can lead to heart disease.</p>
                            </div>
                            <div class="benefit-card style1">
                                <h3>Brains</h3>
                                 <p>CBD's anti-inflammatory and antioxidative properties may be able to reduce risk factors that can lead to brain damage</p>
                            </div>
                            <div class="benefit-card style1">
                                <h3>Eyes</h3>
                                <p>CBD has become a touted treatment for various issues, including glaucoma..</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="benefit-img-wrap">
                                <img class="bn-img" src="{% static 'assets/img/about/benefit-2.png' %}" alt="Image">
                                <ul class="benefit-list-icon list-style">
                                    <li>
                                        <img src="{% static 'assets/img/about/arrow-1.png' %}" alt="Image" class="bn-shape-arrow">
                                        <img src="{% static 'assets/img/about/shape-1.png' %}" alt="Image" class="bn-shape">
                                        <i class="flaticon-witness"></i>
                                    </li>
                                    <li>
                                        <img src="{% static 'assets/img/about/arrow-2.png' %}" alt="Image" class="bn-shape-arrow">
                                        <img src="{% static 'assets/img/about/shape-2.png' %}" alt="Image" class="bn-shape">
                                        <i class="flaticon-brain"></i>
                                    </li>
                                    <li>
                                        <img src="{% static 'assets/img/about/arrow-3.png' %}" alt="Image" class="bn-shape-arrow">
                                        <img src="{% static 'assets/img/about/shape-3.png' %}" alt="Image" class="bn-shape">
                                        <i class="flaticon-heartbeat"></i>
                                    </li>
                                    <li>
                                        <img src="{% static 'assets/img/about/arrow-4.png' %}" alt="Image" class="bn-shape-arrow">
                                        <img src="{% static 'assets/img/about/shape-4.png' %}" alt="Image" class="bn-shape">
                                        <i class="flaticon-lungs"></i>
                                    </li>
                                    <li>
                                        <img src="{% static 'assets/img/about/arrow-5.png' %}" alt="Image" class="bn-shape-arrow">
                                        <img src="{% static 'assets/img/about/shape-5.png' %}" alt="Image" class="bn-shape">
                                        <i class="flaticon-stomach"></i>
                                    </li>
                                    <li>
                                        <img src="{% static 'assets/img/about/arrow-6.png' %}" alt="Image" class="bn-shape-arrow">
                                        <img src="{% static 'assets/img/about/shape-6.png' %}" alt="Image" class="bn-shape">
                                        <i class="flaticon-ribbon"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="benefit-card">
                                <h3>Asthma</h3>
                                 <p>CBD oil may decrease hyperresponsiveness in your airways, lungs become less sensitive to asthma triggers.</p>
                            </div>
                            <div class="benefit-card">
                                <h3>Stomach</h3>
                                <p>CBD oil is known to calm and relax your stomach and intestinal lining.</p>
                            </div>
                            <div class="benefit-card">
                                <h3>Cancer</h3>
                                 <p> CBD may help to enhance the uptake or increase the potency of certain drugs that doctors use to treat cancer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial Section End -->
            

        
       
        {% endblock content %}