{% extends '_partials/base.html'%}
{% load static %}
{% load shop_app_extras %}

{% block content %}
            
            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                <!-- Breadcrumb Start -->
                <div class="breadcrumb-wrap bg-f br-3">
                    <div class="container">
                        <div class="breadcrumb-title">
                            <h2>Shop </h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a href={% url 'home' %}>Home </a></li>
                                <li>Shop </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb End -->

                 <!-- Shop Start -->
                 <div class="shop-wrap ptb-100">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-xl-4 col-lg-12 order-xl-1 order-lg-2 order-md-2 order-2">
                                <div class="sidebar">
                                    <div class="sidebar-widget">

                                        <form action={% url 'search' %} method="post">
                                            {%csrf_token%}
                                            <div class="search-box">
                                                <div class="form-group">
                                                    <input type="search" required name="search_term" placeholder="Search">
                                                    <button type="submit"> 
                                                        <i class="flaticon-search"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </form>

                                       
                                    </div>
                                    <div class="sidebar-widget range-slider">
                                        <h4>Clear Filters</h4>
                                        <div class="tag-list">
                                            <ul class="list-style">
                                                
                                                <li>
                                                    <li><a href="{% url 'shop' %}">Clear Filters</a></li>
                                                    <button type="submit"><i class="flaticon-invisible"></i></button>
                                                    
                                                    <!-- <li><a href="?filter_tag={{tag.name}}">{{tag.name}}</a></li> -->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget categories">
                                        <h4>Categories</h4>
                                        <ul class="category-box list-style">

                                            {% for category in all_categories %}
                                           
                                            <li>
                                                <a href="?filter={{category.name}}">
                                                    <!-- <a href="?filter_category={{category.name}}"> -->
                                                    <i class="ri-checkbox-line"></i>
                                                    {{category.name}}
                                                </a>
                                            </li>
                                            {% endfor %}
                                           
                                        
                
                                           
                                        </ul>
                                    </div>
                                    <div class="sidebar-widget tags">
                                        <h4>Popular Tags </h4>
                                        <div class="tag-list">
                                            <ul class="list-style">
                                                {% for tag in all_tags %}
                                                <li>
                                                    <!-- <li><a href="{% my_url tag.name 'filter' request.GET.urlencode %}">{{tag.name}}</a></li> -->
                                                    <li><a href="?filter={{tag.name}}">{{tag.name}}</a></li>
                                                </li>
                                                {% endfor %}
                                               
                                                
                                                
                                            </ul>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-12 order-xl-2 order-lg-1 order-md-1 order-1">
                                <div class="product-filter-wrap">
                                    <div class="row align-items-center">
                                        <div class="col-md-7">
                                            <div class="product-result">
                                                <p>Showing {{ all_products.paginator.per_page  }} of {{all_products.paginator.count}} Results</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="filter-item-cat">
                                                <select>
                                                    <option value="1">Default Sorting</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    
                                    
                                    {% if all_products.paginator.count > 0 %}
                                    {% for product in all_products %}
                                    <div class="col-xxl-4 col-xl-6 col-lg-4 col-md-6">
                                        <div class="product-card style6">
                                            <div class="product-img">
                                                <img src="{{ product.product_image.url }}" alt="Image">
                                                <!-- <img src="https://static.djangoproject.com/img/fundraising-heart.cd6bb84ffd33.svg" alt="Image"> -->
                                                
                                                <a href={% url 'add_to_cart' product.id %}><button type="button" class="btn style2 add-cart">Add To Cart</button> </a>
                                            </div>
                                            <div class="product-info">
                                                <p class="price">${{product.price}} <span class="discount">$0.00</span></p>
                                                <h3><a href={% url 'product_detail' product.id %}>{{product.name}}</a></h3>
                                                <ul class="ratings list-style">
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}

                                     <!-- Error  Section start -->
                                    <div class="error-wrap ptb-100">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-8 offset-lg-2">
                                                    <div class="error-content">
                                                        <img src="{% static 'assets/img/404.png' %}" alt="Image">
                                                        <h2>Oops! Items Found</h2>
                                                        <p>Items you looked for may be temporarily unavailable.</p>
                                                        <a href={% url 'shop' %} class="btn style1">Clear Filters</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Error  Section end -->

                                    {%  endif %}
                                   
                                            
                               </div>
                                <ul class="page-nav list-style mt-10">
                                    {% if  all_products.has_previous %}
                                    <li><a href="{% my_url all_products.previous_page_number 'page' request.POST.urlencode %}"><i class="ri-arrow-left-s-line"></i></a></li>
                                    {% else %}
                                    <li><a href="#"><i class="ri-arrow-left-s-line"></i></a></li>
                                    {% endif %}
                                    

                                    {% for i in all_products.paginator.page_range %}
                                    
                                        {%  if all_products.number == i%}

                                          <li><a class="active" href="#">{{i}}</a></li>
                                        {% else %}
                                        <li><a href="{% my_url i 'page' request.POST.urlencode %}">{{i}}</a></li>
                                          <!-- <li><a href="?page={{i}}">{{i}}</a></li> -->
                                        {% endif %}


                                    {% endfor %}

                                    {% if  all_products.has_next %}
                                    <!-- <li><a href="?page={{all_products.next_page_number}}"><i class="ri-arrow-right-s-line"></i></a></li> -->
                                    <li><a href="{% my_url all_products.next_page_number 'page' request.POST.urlencode %}"><i class="ri-arrow-right-s-line"></i></a></li>
                                    {% else %}
                                    <li><a href="#"><i class="ri-arrow-right-s-line"></i></a></li>
                                    {% endif %}
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Shop End -->

            </div>
            <!-- Content Wrapper End -->

            {% endblock content %}
